* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
    background-color: #FFF8F3;
    background: url(images/developer.png), url(images/header_bg.png), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
nav .logo {
    font-size: 40px;
}
.color-orange {
    color: rgb(255, 102, 0);
}
.menu {
    display: flex;
    align-items: center;

}
nav li {
    margin: 0 10px;
}
nav li a {
    text-decoration: none;
}
.btn {
    padding: 18px 25px;
    border: none;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
#banner {
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2 {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-image img {
    max-width: 585px;
    height: 676px;
    vertical-align: middle;
}
#about {
    padding-top: 131px;
}
#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
#about .about-container .info-card p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
#about .about-container .info-card h4 {
    font-size: 20px;
    line-height: 30px;
}
#skills {
    padding-top: 130px;
}
#skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-container .skills-box {
    display: flex;
    gap: 25px;

}
.skills-box .skills-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 40px 0 #0000002c;
}
.skills-card img {
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 30px;
}
.skills-card p {
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 28px;
}
#resume {
    margin: 130px 0;
}
#resume h1 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 113px;
    text-align: center;
}
#resume .resume-container {
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
}
.education-cards {
    margin-top: 30px;
    margin-right: 47px;
    gap: 24px;
    max-width: 511px;
}
.education-cards h2 {
    margin-bottom: 30px;
    color: #474747;
    font-size: 30px;
}
.education-cards h3 {
    margin-bottom: 10px;
    color: #474747;
    font-size: 25px;
}
.education-cards h4 {
    margin: 10px 0 20px 0;
    font-size: 20px;
    color: #757575;
}
.education-cards p {
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 28px;
}
.resume-container hr {
    color: #D1D1D1;
    max-width: 511px;
    margin: 30px 0;
    
}
.text-center {
    text-align: center;
}
footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
.footer-container {
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 117px;
}
.footer-container .social {
    max-width: 562px;
}
.footer-container h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #181818;
}
.footer-container p {
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 28px;
}
.footer-container .icon a {
    margin-right: 24px;
}
.footer-container form input[type="text"], .footer-container form textarea {
    padding: 18px 30px;
    width: 461px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
