* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
    background-color: #FFF8F3;
    background: url(images/developer.png), url(images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .logo {
    font-size: 20px;
    font-weight: 800;
}
.color-orange {
    color: rgb(255, 102, 0);
}
.menu {
    display: flex;
    align-items: center;

}
nav li {
    margin: 0 10px;
}
nav li a {
    text-decoration: none;
}
.btn {
    padding: 18px 25px;
    border: none;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
#banner {
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2 {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-content img {
    max-width: 585px;
    vertical-align: middle;
}
#about {
    padding-top: 131px;
}
#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}
.section-heading {
    max-width: 827px;
    text-align: center;
}
.section-heading h2 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
#about .about-container .info-card p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
#about .about-container .info-card h4 {
    font-size: 20px;
    line-height: 30px;
}