* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
    
}
nav {
    width: 71%;
    max-width: 1140px;
    background-color: rgb(248, 240, 242);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .logo {
    font-size: 20px;
    font-weight: 800;
}
.color-orange {
    color: rgb(255, 102, 0);
}
nav ul {
    display: flex;
    align-items: center;

}
nav li {
    margin: 0 10px;
}
nav li a {
    text-decoration: none;
}
.btn {
    padding: 18px 25px;
    border: none;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}